@model TicketingTool.Services.Concrete.Mapping.UserProjectsMapping

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="box box-primary box-solid bg-info">
        <div class="box-header with-border">
            <h3 class="box-title">Map User with Projects</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="form-group col-md-2">
                    <label for="exampleInputtext1">Select User Name</label>
                    @Html.DropDownList("employee_id", new SelectList(ViewBag.UserList, "employee_id", "employee_name"), new { @class = "form-control input-sm", @id = "employee_id" })

                </div>
                <div class="form-group col-md-2">
                    <label for="exampleInputtext1">Select Projects</label>
                    @Html.DropDownList("project_name", new SelectList(ViewBag.ProjectList, "id", "project_name"), new { @class = "form-control input-sm", @id = "id" })

                </div>
                <div class="col-md-2">
                    <a href="#" style="margin-top:24px;" class="btn btn-primary btn-sm btnsave" id="btnSave">
                        Add
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="box box-primary box-solid bg-info">
            <div class="box-header with-border">
                <h3 class="box-title">Assign Projects to User</h3>
            </div>
            <div class="box-body">
                <div class="table-responsive" id="tbldata">
                </div>
            </div>
        </div>
    @*<div class="box box-primary box-solid bg-info">
            <div class="box-header with-border">
                <h3 class="box-title">Assign Projects to User</h3>
            </div>
            <div class="box-body">
                    @{
                        var projectList = ViewBag.ProjectList as List<TicketingTool.Models.Masters.master_project>;
                    }
                    <br />
                    @foreach (var item in projectList)
                    {
                        <input type="checkbox" id="chkProject" class="form-check-input minimal" name="selectedItems" value="@item.id" /> @item.project_name
                    }
            </div>
        </div>*@
</section>

@section scripts{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Content/custom_scripts/mapping/UserProjectsMapping.js"></script>
}

