
@{
    ViewBag.Title = "Index";
}



<link href="~/Content/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/dist/css/custom.css" rel="stylesheet" />
<section class="content-header">
    <h1>
        Manage
        <small>Technology</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
        <li class="active">Technology</li>
    </ol>
</section>

<section class="content">
    <input type="hidden" id="id" />
    <div class="box box-primary box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Techunology List</h3>
            <div class="box-tools pull-right">
                <a href="#" class="btn btn-box-tool" id="btnAdd">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="box-body">
            <div class="table-responsive">
                <table class="table table-responsive table-hover table-striped" id="tbl_Technology">
                    <thead id="theadIssuesResult" class="customThead">
                        <tr>
                            <th>Action</th>
                            <th>Technology Name</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-default" style="display: none;">
        <div class="modal-dialog modal-lg" style="width:800px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Function Level</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputEmail1">Technology Name</label>
                            <input type="text" class="form-control input-sm" id="technology_name" placeholder="Technology Name">
                        </div>

                        <div class="form-group col-md-3">
                            <label style="margin-top: 27px">
                                <input type="checkbox" class="minimal" id="is_active">
                                &nbsp; Is Active
                            </label>
                        </div>

                        <div class="col-md-3" style="margin-top:23px">
                            <div style="float:right">
                                <button type="button" id="btnSave" class="btn btn-success btn-sm"><i class="fa fa-save"></i> Save</button>
                                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>

@section scripts{
    <script src="~/Content/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Content/custom_scripts/settings/technology.js"></script>

}