@model TicketingTool.Services.Concrete.Mapping.ProjectCustomersMapping

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/dist/css/custom.css" rel="stylesheet" />


<section class="content">
    <div class="box box-primary box-solid bg-info">
        <div class="box-header with-border">
            <h3 class="box-title">Map Project with Customers</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="form-group col-md-2">
                    <label for="exampleInputtext1">Select Project</label>
                    @Html.DropDownList("project_name", new SelectList(ViewBag.ProjectList, "id", "project_name"), new { @class = "form-control input-sm", @id = "projectid" })

                </div>
                <div class="form-group col-md-2">
                        <label for="exampleInputtext1">Select Customers</label>
                        @Html.DropDownList("customer_name", new SelectList(ViewBag.CustomerList, "id", "customer_name"), new { @class = "form-control input-sm", @id = "customerid" })

                    </div>
                <div class="col-md-2">
                    <a href="#" style="margin-top:24px;" class="btn btn-primary btn-sm btnsave" id="btnSave">
                        Add
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="box box-primary box-solid">
      
        <div class="box-body">
            <div class="table-responsive">
                <table class="table table-responsive table-hover table-striped" id="tbl_customer">
                    <thead id="theadIssuesResult" class="customThead">
                        <tr>
                            <th>Project Name</th>
                            <th>Customer Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


@section scripts{
    <script src="~/Content/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Content/custom_scripts/mapping/ProjectCustomersMapping.js"></script>
}

