<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 0.0.1
    </div>
    <strong>Copyright &copy; 2023 <a href="#">Cymsol Marine Services LLP, Pune, India.</a>.</strong> All rights
    reserved.
</footer>
