@model TicketingTool.Models.Models.Attachments

@{
    ViewBag.Title = "Attachement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Attachement</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

